# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/tmp/*
!/tmp/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

# Ignore cache directories.
/tmp/pids
/tmp/cache
/tmp/sockets
/tmp/uploads

# Ignore development & test secrets
/config/master.key
/config/credentials.yml.enc

# Ignore node_modules and yarn error log.
/node_modules
/yarn-error.log

# Ignore coverage directory.
/coverage/

# Ignore system specs results.
/spec/examples.txt

# Ignore the .git directory
.git
.gitignore

# Ignore editor and OS-specific files
**/.DS_Store
**/Thumbs.db
**/*.swp
**/*.bak
**/*.backup
**/*~
**/._*

# Ignore the public/assets directory
/public/assets
/public/packs
/public/packs-test
/public/packs-dev
/public/packs-test-dev

# Ignore byebug history
.byebug_history

# Ignore Docker-related files (optional)
Dockerfile*
docker-compose*
