# Bundler
/.bundle
/vendor/bundle

# Logs and tempfiles
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids
/tmp/cache
/tmp/sockets
/tmp/uploads

# Active Storage
/storage/*
!/storage/.keep

# Credentials
/config/master.key
/config/credentials.yml.enc

# Node
/node_modules
/yarn-error.log

# Coverage & spec artifacts
/coverage/
/spec/examples.txt

# Compiled assets (if present)
/public/assets
/public/packs
/public/packs-test

# Byebug history
.byebug_history

# OS/editor
**/.DS_Store
**/Thumbs.db
**/*.swp
**/*.bak
**/*.backup
**/*~
**/._*

# Dev Container cache
.devcontainer/.cache
